.App {
  /*text-align: center;*/
  background-color: #f4f4f4;
  width: 1440px;
  height: 1400px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  margin: auto;
}

/*.App-logo {*/
/*  animation: App-logo-spin infinite 20s linear;*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.App-header {*/
/*  background-color: #f4f4f4;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

.App-link {
  color: #61dafb;
}

