.cards {
    display: flex;
    margin: 25px 106px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    height: 412px;
    width: 260px;
    background-color: #ffff;
    margin: 18px;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 11px;
}

.image {
    width: 250px;
    height: 250px;
}

.login-info {
    margin-left: 10px;
}

.user-info {
    display: flex;
}

.profile-pic {
    margin-top: 11px;
    height: 38px;
    width: 38px;
}

.account-info {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 90px;
}

.user-name {
    /*width: 90px;*/
    /*height: 16px;*/
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    /*margin-top: 14px;*/
    margin-bottom: 0;
}

.user-name::first-letter {
    text-transform: uppercase;
}

.crown {
    margin-top: 14px;
    margin-left: 4px;
    width: 18px;
    height: 14px;
    object-fit: contain;
}

.post-time {
    width: 54px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    color: #a2a2a2;
    margin-top: 2px;
}

.interaction-icon {
    display: flex;
    margin-top: 11px;
}

.heart-icon {
    height: 21px;
    width: 21px;
}

.comment-icon {
    margin-left: 14px;
    margin-right: 16.3px;
}

.title {
    width: 240px;
    display: flex;
    margin-top: 16px;
}

.title .user-name {
    margin-top: 0;
}

.title-content {
    height: 16.5px;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    grid-column: 1 / 3;
    margin-top: 0;
    margin-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.post-status {
    width: 242px;
    height: 14px;
    display: flex;
    margin: 0;
}

.post-status p {
    font-family: Arial;
    font-size: 12px;
    color: #979797;
    margin-top: 6px;
}
